.back-button {
	position: relative;
	top: 32px;
	left: 16px;
	background: white;
	color: #4c2fff;
	padding: 8px 12px;
	border-radius: 12px;
	border: none;
	cursor: pointer;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	font-weight: 600;
	z-index: 1000;
	transition: background 0.3s ease;
}

.back-button:hover {
	background: #f0f0ff;
}
